{% extends "reviews/base.html" %}

{% load static %}

{% block title %}
Your Review
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static "reviews/styles.css" %}">
{% endblock css %}

{% block content %}
<form action="/" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-control {% if field.errors %}errors{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    <button type="submit">Send</button>
</form>
{% endblock content %}
